.inputFailed > select {
    border-color: #fe3636;
    color: #fe3636;
}


.inputFailed {
    border-bottom: solid 1px #fec4c6;
    color: red;

}

.inputFailed::placeholder {
    color: #fec4c6;
}

.inputFailed:focus {
    border-bottom: solid 1px red;
}

.inputFailed ~ label {
    color: red;
    top: calc(40% - 7px) !important;

}

.failedText, .failedEdit {
    display: block !important;
    color: #fe3636;
    font-size: 12px;
}

.failedText {
    margin-left: 43px;
    color: red;
}

.failedLabel {
    top: calc(40% - 7px) !important;
    color: red;

}

.failedRoles{
    padding-left: 0!important;
}