* {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    opacity: .85;
}

label {
    font-size: 12.5px;
    color: #000;
    opacity: .8;
    font-weight: 400;
}

form {
    padding: 20px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

form > h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}

form > h4 > span {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

form > p {
    line-height: 155%;
    font-size: 14px;
    color: #000;
    opacity: .65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
}

a.discrete {
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, .0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all .3s ease;
    margin-top: 40px;
}

a.discrete:hover {
    border-bottom: solid 1px rgba(0, 0, 0, .2);
}


input {
    font-size: 16px;
    padding: 20px 0;
    height: 50px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    background: #fff;
    width: 280px;
    box-sizing: border-box;
    transition: all .3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;

}

input:focus {
    border-bottom: solid 1px rgb(182, 157, 230);
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, .45);
}

.floating-label {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.floating-label > label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all .3s ease;
    padding-left: 44px;

}

.floating-label > input {
    width: calc(100% - 44px);
    margin-left: auto;
    display: flex;

}

.floating-label > .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 44px;
    display: flex;
}

.floating-label > .icon > svg {
    height: 30px;
    width: 30px;
    margin: auto;
    opacity: .15;
    transition: all .3s ease;
    fill: #4800d2;

}

.floating-label > .icon > svg > path {
    transition: all .3s ease;
}

.floating-label > input:not(:placeholder-shown) {
    padding: 40px 0 12px 0;
}

.floating-label > input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
    opacity: .7;
}

.floating-label > input:valid:not(:placeholder-shown) + label + .icon > svg {
    opacity: 1;
}

.floating-label > input:valid:not(:placeholder-shown) + label + .icon > svg > path {
    fill: rgb(182, 157, 230);

}

.floating-label > input:not(:valid):not(:focus) + label + .icon {
    animation-name: shake-shake;
    animation-duration: .3s;
}
.select{
    margin-bottom: 10px;
    /*padding-left: 44px;*/
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
}
option:hover {
    background-color: #b69de6;
}
.session {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: auto auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .12);
}

.left {
    width: 220px;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.left > svg {
    height: 40px;
    width: auto;
    margin: 20px;

}

