/* rochester-regular - latin */
@font-face {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rochester-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/rochester-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rochester-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rochester-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/rochester-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rochester-v11-latin-regular.svg#Rochester') format('svg'); /* Legacy iOS */
}

html, body {
    background: #f3f2f2;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
    width: 986px;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.12);
    min-height: 104%;
}

button {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #b69de6;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    /*transition: all .3s ease;*/
    outline: 0;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);
}

/*button:hover :active {*/
/*    transform: scale(.99);*/
/*}*/


header {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-left: 108px;
    font-size: 18px;
}

.menu > a {
    text-decoration: none;
    color: #929292;
    margin-right: 68px;
    height: 20px;

}

#selectedMenuItem, .menu > a:hover {
    border-bottom: #b69de6 solid 3px;
}

.logo {
    font-family: 'Rochester', cursive !important;
    font-size: 34px;
    text-align: left;
    color: #b69de6;

}

footer {

    width: 986px;
    display: flex;
    justify-content: space-around;

}

footer > .info > .company {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-left: 25px;
    font-weight: 200;
    font-size: 12px;
    color: #929292;
}

footer > .info > .logo {
    font-size: 30px;
}

.svgPic {
    height: 26px;
    width: 26px;
    fill: #b69de6 !important;
    margin-right: 10px;
}
.svgPic:hover {
    transform: translateY(-3px);
    fill: #8e5bf8 !important;
    /*box-shadow: 0 2px 6px -1px rgba(182, 157, 230, .65);*/
}
a {
    text-decoration: none;
}

.info {
    margin-bottom: 5px;
}

.contacts {
    margin-top: 7px;
}

.content {
    flex-grow: 1;
}

input:invalid {
    border-bottom: 1px solid red;
}